
#board {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.imgPlayer {
  cursor: pointer;
}
td {
  
  padding: 0;
  line-height: 0;
}
td img {
  max-width: 100%;
}
td.playerBoardUnit {
  border: 1px solid black;
  width: 50px;
	height: 50px;
  box-sizing: border-box;
  
}
td.obstacleBoardUnit {
  border: 1px solid red;
  width: 20px;
	height: 20px;
  box-sizing: border-box;
}

.obstacleInfo {
  width: 611px;
  height: 150px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin: auto;
  /** 플렉서블 박스  */
  display: flex;
  flex-direction: row;
}
.obstacleInfo img {
  border: 1px solid brown;
  width: 15px;
  height: 100px;
  margin: auto;
  box-sizing: border-box;
}
.playerInfo {
  width: 611px;
  box-sizing: border-box;
  margin: auto;
  font-size: 3em;
  text-align: center;
}